name: Dependabot Auto Merge

on: pull_request

jobs:
  merge:
    if: ${{ github.actor == 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - id: meta
        uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2.4.0
      - if: >-
          ${{ steps.meta.outputs.package-ecosystem == 'github_actions' && 
              steps.meta.outputs.update-type != 'version-update:semver-major' }}
        run: |
          gh pr review "$GITHUB_HEAD_REF" --approve
          gh pr merge "$GITHUB_HEAD_REF" --rebase --auto
